
<html lang="en-GB">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/tree.css" media="screen">
</head>
<body>
<ol class="tree">
    <li>
        <label for="group_a">Group A</label> <input type="checkbox" id="group_a" />
        <ol>
            <li class="leaf"><a>User 1</a></li>
            <li>
                <label for="group_a_1">Group A.1</label> <input type="checkbox" id="group_a_1" />
                <ol>
                    <li class="leaf"><a >User 1</a></li>
                    <li class="leaf"><a >User 2</a></li>
                    <li>
                        <label for="group_b">Group A</label> <input type="checkbox" id="group_b" />
                        <ol>
                            <li class="leaf"><a>User 1</a></li>
                        </ol>
                    </li>

                </ol>
            </li>
        </ol>
    </li>
    <li>
        <label for="folder2">Group B</label> <input type="checkbox" id="folder2" />
        <ol>
            <li class="leaf"><a >User 1</a></li>
            <li>
                <label for="subfolder2">Group B.1 1</label> <input type="checkbox" id="subfolder2" />
                <ol>
                    <li class="leaf"><a >User 1</a></li>
                    <li class="leaf"><a >User 2</a></li>
                    <li class="leaf"><a >User 3</a></li>
                    <li class="leaf"><a >User 4</a></li>
                    <li class="leaf"><a >User 5</a></li>
                    <li class="leaf"><a >User 6</a></li>
                </ol>
            </li>
        </ol>
    </li>
</ol>

</body>
</html>
